version: '3.7'

services:
    php:
        build: ./docker/php
        ports:
            - "8080:8080"
        volumes:
            - ./src/:/var/www
        extra_hosts:
            - host.docker.internal:host-gateway