@font-face{
	font-family: 'LinLibertine_DR';
	src:  url('fonts/LinLibertine_DR.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'LinLibertine_I';
	src:  url('fonts/LinLibertine_I.otf');
	font-weight: normal;
	font-style: normal;
}
#bloc_page{
	width: 900px;
	margin: auto;
}
body{
	background: url('images/fondpapier.jpg');
	background-attachment: fixed;
	font-family: 'LinLibertine_DR';
}
h1, h2{
	font-family: 'LinLibertine_I';
	text-transform: uppercase;
}
h2{

	font-size: 1em;
}
.banierevideo{
	background: url('images/photo_video.jpg');
	height: 150px;
	text-align: center;
	text-transform: uppercase;
	color: white;
}
.banierevideo h1{
	padding-top: 50px;
	font-size: 4em;
}
.videolive{
	margin: 20px;
	display: flex;
	float: left;
}
.descriptionlive{
	margin: 20px;
	height: 315px;
}
.videoclip{
	margin: 20px;
	margin-bottom: 20px;
	float: right;
	display: flex;
	transition: transform .1s;
}
.videoclip:hover{
	transform: scale(1.3);
}
.videolive:hover{
	transform: scale(1.3);
}
.descriptionclip{
	margin: 20px;
	height: 315px;
}
.baniereaudio{
	background: url('images/photo_video.jpg');
	display: flex;
	height: 150px;
	margin: 20px;
	width: 100%;
}
.baniereaudio h1{
	color: white;
	margin-top: 50px;
	margin-left: 37%;
	font-size: 4em;
}
.bandcamp{
		text-align: center;
		margin: 20px;
}
.demo{
	text-align: center;
	margin: 20px;
}
                                                                        /* début du footer*/

footer{
	display: flex;
	height: 200px;
	background-image: url(images/footer.jpg);
	background-repeat: no-repeat;
}
footer h1{
font-size: 1.5em;
color: rgb(230, 245, 185);
}
footer p, footer ul{
	font-size: 1.1em;
	color: mintcream;
}
#reseauxsociaux
{
	background-color: rgba(66, 49, 216, 0.2);
	width: 30%;
}
#copains{
background-color: rgba(66, 49, 216, 0.2);
display: flex;
flex-wrap: wrap;
align-content: flex-start;
	width: 60%;
	margin-left: 30px;
}
#copains a{
	text-decoration: none;
	color: rgb(230, 245, 185);
	margin-bottom: 30px;
}
#titraside{
	width: 100%;
		flex: 1;
}
#listecopains1{
	width: 20%;
	flex: 2;
}
#listecopains2{
	width: 60%;
	flex: 3;
}
