												/*import du header*/
@import url("header.css");
@import url("footer.css");


@font-face {
	font-family: 'LinLibertine_DR';
	src: url('../public/fonts/LinLibertine_DR.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'LinLibertine_I';
	src: url('../public/fonts/LinLibertine_I.otf');
	font-weight: normal;
	font-style: normal;
}
#bloc_page {
	width: 900px;
	margin: auto;
}
body {
	background: url('../public/img/fondpapier.jpg');
	background-attachment: fixed;
	font-family: 'LinLibertine_DR';
}
h1, h2 {
	font-family: 'LinLibertine_I';
	text-transform: uppercase;
}
h2 {
	font-size: 1em;
}

													/* démarrage de la section*/
section {
	display: flex;
	margin: bottom;
}

													/* travail sur l'article*/
article,
aside {
	text-align: justify;
}
article {
	margin-right: 20px;
	flex: 3;
	background-color: rgba(150, 182, 193, 0.2);
	height: 432px;
}
article div {
	font-size: 1.2em;
	text-align: left;
}
.ap1 {
	margin-bottom: 10px;
	text-align: left;
}
.ap2 {
	margin-top: 10px;
	text-align: left;
}
.herbe {
	float: right;
	margin: 10px;
}
.coesette {
	float: left;
	margin: 10px;
}

														/* aside*/
aside {
	flex: 1.2;
	position: relative;
	background-color: rgba(245, 238, 224, 1);
	box-shadow: 5px 5px 5px darkgrey;
	border-radius: 0px 0px 6px 6px;
}
.saybobto {
	position: relative;
}
.asidebob p {
	width: 160px;
	position: absolute;
	color: white;
	z-index: 1;
	padding-left: 5px;
	font-size: 15px;
	text-align: left;
}
.fauxgwen {

	position: relative;
}
.asidegwen p {
	width: 120px;
	position: absolute;
	color: black;
	z-index: 1;
	padding-left: 175px;
	font-size: 14px;
	text-align: right;
}
@media all and (max-width: 1024px) {
													/*écran réduit*/


	#bloc_page {
		width: auto;
	}
	nav {
		width: auto;
		text-align: left;
	}
	nav ul {
		flex-direction: column;
	}
	nav li {
		padding-left: 4px;
	}
	nav a {
		font-size: 1.1em;
	}
	nav a:hover {
		border-bottom: 0;
	}
	.baniere {
		display: none;
	}
	section {
		flex-direction: column;
	}
	article,aside {
		width: auto;
		margin-bottom: 15px;
	}
	aside {
		display: flex;
		justify-content: space-around;
		background-color: rgba(150, 182, 193, 0.2);
	}
}
