												/*import des .css*/
@import url("header.css");
@import url("presentation.css");
@import url("footer.css");

												/*fonts*/
@font-face {
	font-family: 'LinLibertine_DR';
	src: url('../public/fonts/LinLibertine_DR.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'LinLibertine_I';
	src: url('../public/fonts/LinLibertine_I.otf');
	font-weight: normal;
	font-style: normal;
}												/*style commun*/
#bloc_page {
	width: 900px;
	margin: auto;
}
body {
	background-color: rgb(15, 0, 25);
	background-attachment: fixed;
	font-family: 'LinLibertine_DR';
}
h1, h2 {
	font-family: 'LinLibertine_I';
	text-transform: uppercase;
	color: aliceblue;
}
p, ul{
	color: aliceblue;
}
h2 {
	font-size: 1em;
}


@media all and (max-width: 1024px) {
													/*écran réduit*/


	#bloc_page {
		width: auto;
	}
	nav {
		width: auto;
		text-align: left;
	}
	nav ul {
		flex-direction: column;
	}
	nav li {
		padding-left: 4px;
	}
	nav a {
		font-size: 1.1em;
	}
	nav a:hover {
		border-bottom: 0;
	}
	.baniere {
		display: none;
	}
	section {
		flex-direction: column;
	}
	article,aside {
		width: auto;
		margin-bottom: 15px;
	}
	aside {
		display: flex;
		justify-content: space-around;
		background-color: rgba(150, 182, 193, 0.2);
	}
}
